/* :root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green-bright: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
} */

:root {
  --dark-navy: #ced4da;
  --navy: #dee2e6;
  --light-navy: #e9ecef;
  --lightest-navy: #f8f9fa;
  --gray-shadow: rgba(2, 12, 27, 0.7);
  --slate: #212529;
  --light-slate: #495057;
  --lightest-slate: #6c757d;
  --white: #e6f1ff;
  --green-bright: #7371fc;
  --green-tint: rgba(100, 255, 218, 0.1);
  --sm-font-size: 18px;
  --md-font-size: 22px;
  --lg-font-size: 30px;
  --xl-font-size: 46px;
}
